<a href="https://colab.research.google.com/github/iamNirmeshGupta/Collaborative-Filtering-With-PySpark/blob/main/Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285397 sha256=92e610aa3821f8185529cb97a6c3c279de2f1984d738bd44545fbfb8877be6e3
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("collaborative filtering").getOrCreate()

In [3]:
movies_df = spark.read.options(header="True", inferSchema="True").csv("/content/drive/MyDrive/Colab Notebooks/Pyspark/Collaborative Filtering/movies.csv")

In [4]:
ratings_df = spark.read.options(header="True", inferSchema="True").csv("/content/drive/MyDrive/Colab Notebooks/Pyspark/Collaborative Filtering/ratings.csv")

In [5]:
movies_df.show()
ratings_df.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [6]:
movies_df.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [7]:
ratings_df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

##Joining The DataFrames

In [8]:
df = ratings_df.join(movies_df, "movieId", "left")

In [9]:
df.show()

+-------+------+------+---------+--------------------+--------------------+
|movieId|userId|rating|timestamp|               title|              genres|
+-------+------+------+---------+--------------------+--------------------+
|      1|     1|   4.0|964982703|    Toy Story (1995)|Adventure|Animati...|
|      3|     1|   4.0|964981247|Grumpier Old Men ...|      Comedy|Romance|
|      6|     1|   4.0|964982224|         Heat (1995)|Action|Crime|Thri...|
|     47|     1|   5.0|964983815|Seven (a.k.a. Se7...|    Mystery|Thriller|
|     50|     1|   5.0|964982931|Usual Suspects, T...|Crime|Mystery|Thr...|
|     70|     1|   3.0|964982400|From Dusk Till Da...|Action|Comedy|Hor...|
|    101|     1|   5.0|964980868|Bottle Rocket (1996)|Adventure|Comedy|...|
|    110|     1|   4.0|964982176|   Braveheart (1995)|    Action|Drama|War|
|    151|     1|   5.0|964984041|      Rob Roy (1995)|Action|Drama|Roma...|
|    157|     1|   5.0|964984100|Canadian Bacon (1...|          Comedy|War|
|    163|     1|   5.0|964983650|    Desperado (1995)|Action|Romance|We...|
|    216|     1|   5.0|964981208|Billy Madison (1995)|              Comedy|
|    223|     1|   3.0|964980985|       Clerks (1994)|              Comedy|
|    231|     1|   5.0|964981179|Dumb & Dumber (Du...|    Adventure|Comedy|
|    235|     1|   4.0|964980908|      Ed Wood (1994)|        Comedy|Drama|
|    260|     1|   5.0|964981680|Star Wars: Episod...|Action|Adventure|...|
|    296|     1|   3.0|964982967| Pulp Fiction (1994)|Comedy|Crime|Dram...|
|    316|     1|   3.0|964982310|     Stargate (1994)|Action|Adventure|...|
|    333|     1|   5.0|964981179|    Tommy Boy (1995)|              Comedy|
|    349|     1|   4.0|964982563|Clear and Present...|Action|Crime|Dram...|
+-------+------+------+---------+--------------------+--------------------+
only showing top 20 rows

##Train Test Split

In [10]:
# Train Test Split

(train, test) = df.randomSplit([0.8,0.2])

In [11]:
train.show()

+-------+------+------+----------+----------------+--------------------+
|movieId|userId|rating| timestamp|           title|              genres|
+-------+------+------+----------+----------------+--------------------+
|      1|     1|   4.0| 964982703|Toy Story (1995)|Adventure|Animati...|
|      1|     5|   4.0| 847434962|Toy Story (1995)|Adventure|Animati...|
|      1|     7|   4.5|1106635946|Toy Story (1995)|Adventure|Animati...|
|      1|    15|   2.5|1510577970|Toy Story (1995)|Adventure|Animati...|
|      1|    17|   4.5|1305696483|Toy Story (1995)|Adventure|Animati...|
|      1|    18|   3.5|1455209816|Toy Story (1995)|Adventure|Animati...|
|      1|    19|   4.0| 965705637|Toy Story (1995)|Adventure|Animati...|
|      1|    21|   3.5|1407618878|Toy Story (1995)|Adventure|Animati...|
|      1|    27|   3.0| 962685262|Toy Story (1995)|Adventure|Animati...|
|      1|    31|   5.0| 850466616|Toy Story (1995)|Adventure|Animati...|
|      1|    32|   3.0| 856736119|Toy Story (1995)|Adventure|Animati...|
|      1|    33|   3.0| 939647444|Toy Story (1995)|Adventure|Animati...|
|      1|    40|   5.0| 832058959|Toy Story (1995)|Adventure|Animati...|
|      1|    44|   3.0| 869251860|Toy Story (1995)|Adventure|Animati...|
|      1|    45|   4.0| 951170182|Toy Story (1995)|Adventure|Animati...|
|      1|    46|   5.0| 834787906|Toy Story (1995)|Adventure|Animati...|
|      1|    50|   3.0|1514238116|Toy Story (1995)|Adventure|Animati...|
|      1|    57|   5.0| 965796031|Toy Story (1995)|Adventure|Animati...|
|      1|    63|   5.0|1443199669|Toy Story (1995)|Adventure|Animati...|
|      1|    64|   4.0|1161520134|Toy Story (1995)|Adventure|Animati...|
+-------+------+------+----------+----------------+--------------------+
only showing top 20 rows

In [12]:
test.show()

+-------+------+------+----------+----------------+--------------------+
|movieId|userId|rating| timestamp|           title|              genres|
+-------+------+------+----------+----------------+--------------------+
|      1|    43|   5.0| 848993983|Toy Story (1995)|Adventure|Animati...|
|      1|    54|   3.0| 830247330|Toy Story (1995)|Adventure|Animati...|
|      1|    68|   2.5|1158531426|Toy Story (1995)|Adventure|Animati...|
|      1|    89|   3.0|1520408314|Toy Story (1995)|Adventure|Animati...|
|      1|    90|   3.0| 856353996|Toy Story (1995)|Adventure|Animati...|
|      1|   103|   4.0|1431954238|Toy Story (1995)|Adventure|Animati...|
|      1|   155|   3.0| 961861723|Toy Story (1995)|Adventure|Animati...|
|      1|   160|   4.0| 971115026|Toy Story (1995)|Adventure|Animati...|
|      1|   178|   4.0|1164354911|Toy Story (1995)|Adventure|Animati...|
|      1|   217|   4.0| 955942540|Toy Story (1995)|Adventure|Animati...|
|      1|   264|   4.0|1136978964|Toy Story (1995)|Adventure|Animati...|
|      1|   266|   2.0| 945669542|Toy Story (1995)|Adventure|Animati...|
|      1|   270|   5.0| 853918728|Toy Story (1995)|Adventure|Animati...|
|      1|   280|   4.5|1348435273|Toy Story (1995)|Adventure|Animati...|
|      1|   290|   4.0| 975031464|Toy Story (1995)|Adventure|Animati...|
|      1|   298|   2.0|1447518257|Toy Story (1995)|Adventure|Animati...|
|      1|   307|   4.0|1186160893|Toy Story (1995)|Adventure|Animati...|
|      1|   322|   3.5|1217676206|Toy Story (1995)|Adventure|Animati...|
|      1|   328|   5.0|1494210665|Toy Story (1995)|Adventure|Animati...|
|      1|   336|   4.0|1122227329|Toy Story (1995)|Adventure|Animati...|
+-------+------+------+----------+----------------+--------------------+
only showing top 20 rows

In [13]:
print(df.count())
print(train.count())
print(test.count())

100836
80670
20166

##ALS Model

In [14]:
from pyspark.ml.recommendation import ALS

als = ALS(userCol = "userId", itemCol="movieId", ratingCol="rating", nonnegative=True,implicitPrefs=False, coldStartStrategy="drop")

##Hyperparameter Tuning & cross validation

In [15]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.sql.functions import col,explode

In [20]:
param_grid = ParamGridBuilder() \
            .addGrid(als.rank, [10, 20, 30, 40]) \
            .addGrid(als.regParam, [.01, .05, .1, .15]) \
            .build()

In [21]:

# Evaluating

evaluator = RegressionEvaluator(
           metricName="rmse",
           labelCol="rating",
           predictionCol="prediction")

In [22]:
cv = CrossValidator(estimator=als, estimatorParamMaps=param_grid, evaluator=evaluator, numFolds=5)

##Best Model & Evaluate Predictions

In [23]:
model = cv.fit(train)
best_model = model.bestModel
test_predictions = best_model.transform(test)
RMSE = evaluator.evaluate(test_predictions)
print(RMSE)

0.8752994159188879

##**Recommendations**

In [24]:
recommendations = best_model.recommendForAllUsers(5)

In [25]:
df = recommendations

In [29]:
df.show()

+------+--------------------+
|userId|     recommendations|
+------+--------------------+
|     1|[{33649, 5.784747...|
|     2|[{131724, 4.81848...|
|     3|[{70946, 4.914021...|
|     4|[{3851, 4.8359027...|
|     5|[{132333, 4.74675...|
|     6|[{33649, 4.958708...|
|     7|[{3379, 4.739699}...|
|     8|[{3379, 4.9193435...|
|     9|[{3379, 4.9858365...|
|    10|[{71579, 4.471491...|
|    11|[{3379, 4.9135056...|
|    12|[{33649, 5.634302...|
|    13|[{3379, 5.0063596...|
|    14|[{184245, 4.63465...|
|    15|[{60943, 4.519983...|
|    16|[{3379, 4.47578},...|
|    17|[{3379, 5.1395288...|
|    18|[{3379, 4.9746757...|
|    19|[{3379, 4.059696}...|
|    20|[{33649, 5.179686...|
+------+--------------------+
only showing top 20 rows

In [27]:
df2 = df.withColumn("movieid_rating", explode("recommendations"))

In [28]:

df2.show()

+------+--------------------+-------------------+
|userId|     recommendations|     movieid_rating|
+------+--------------------+-------------------+
|     1|[{33649, 5.784747...| {33649, 5.7847476}|
|     1|[{33649, 5.784747...|   {3379, 5.745195}|
|     1|[{33649, 5.784747...|{132333, 5.6550274}|
|     1|[{33649, 5.784747...|  {3494, 5.4812136}|
|     1|[{33649, 5.784747...| {184245, 5.462358}|
|     2|[{131724, 4.81848...|{131724, 4.8184867}|
|     2|[{131724, 4.81848...| {33649, 4.7981954}|
|     2|[{131724, 4.81848...|  {3379, 4.7182717}|
|     2|[{131724, 4.81848...|{184245, 4.6590424}|
|     2|[{131724, 4.81848...|{179135, 4.6590424}|
|     3|[{70946, 4.914021...|  {70946, 4.914021}|
|     3|[{70946, 4.914021...|   {6835, 4.853732}|
|     3|[{70946, 4.914021...|   {5919, 4.853732}|
|     3|[{70946, 4.914021...|   {5746, 4.853732}|
|     3|[{70946, 4.914021...|    {7991, 4.75898}|
|     4|[{3851, 4.8359027...|  {3851, 4.8359027}|
|     4|[{3851, 4.8359027...|  {3494, 4.7349563}|
|     4|[{3851, 4.8359027...|   {1733, 4.688359}|
|     4|[{3851, 4.8359027...| {132333, 4.685258}|
|     4|[{3851, 4.8359027...|  {4765, 4.6723337}|
+------+--------------------+-------------------+
only showing top 20 rows

In [31]:
df2.select("userId", col("movieid_rating.movieId"), col("movieid_rating.rating")).show()

+------+-------+---------+
|userId|movieId|   rating|
+------+-------+---------+
|     1|  33649|5.7847476|
|     1|   3379| 5.745195|
|     1| 132333|5.6550274|
|     1|   3494|5.4812136|
|     1| 184245| 5.462358|
|     2| 131724|4.8184867|
|     2|  33649|4.7981954|
|     2|   3379|4.7182717|
|     2| 184245|4.6590424|
|     2| 179135|4.6590424|
|     3|  70946| 4.914021|
|     3|   6835| 4.853732|
|     3|   5919| 4.853732|
|     3|   5746| 4.853732|
|     3|   7991|  4.75898|
|     4|   3851|4.8359027|
|     4|   3494|4.7349563|
|     4|   1733| 4.688359|
|     4| 132333| 4.685258|
|     4|   4765|4.6723337|
+------+-------+---------+
only showing top 20 rows